* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/*card*/
.add{
  width: 33px;
  height: 30px;
  cursor: pointer;
}
.image-container {
  display: flex;
  justify-content:space-around;
 text-align:end;
  height: 75px; 
  width: 100%;
}
.slideshow-container {
  width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  height: 200px;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*search*/

.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

/*products*/

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.cart {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
